<div class="van-overlay" style="z-index: 2031; display: none;"></div>
<%- include('support.ejs') -%>
    <div id="box-join" role="dialog" tabindex="0" data-v-7181abf7="" class="van-popup van-popup--round van-popup--bottom"
        style="max-width: 10rem; left: auto; z-index: 2032;transform: translateY(1000px); box-shadow: rgba(37, 37, 60, 0.26) 0px -18px 40px">
        <div data-v-7181abf7="" class="Betting__Popup-body bet-mask p-l-10 p-r-10">
            <div data-v-baf77bdf="" class="FDB__C-nav bet-type-group a-b-c-d-e">
               <div data-v-baf77bdf="" data-join="a" class="d5-bet-type active">A</div>
               <div data-v-baf77bdf="" data-join="b" class="d5-bet-type">B</div>
               <div data-v-baf77bdf="" data-join="c" class="d5-bet-type ">C</div>
               <div data-v-baf77bdf="" data-join="d" class="d5-bet-type">D</div>
               <div data-v-baf77bdf="" data-join="e" class="d5-bet-type">E</div>
               <div data-v-baf77bdf="" data-join="total" class="d5-bet-type">SUM</div>
            </div>
            <div data-v-baf77bdf="" class="FDB__C-H  small-big">
               <div data-v-baf77bdf="" data-join="active1" join="b" class="bet-type-btn"><span data-v-baf77bdf="">Big</span><span data-v-baf77bdf="">1.98</span></div>
               <div data-v-baf77bdf="" data-join="active2" join="s" class="bet-type-btn"><span data-v-baf77bdf="">Small</span><span data-v-baf77bdf="">1.98</span>
               </div>
               <div data-v-baf77bdf="" data-join="active3" join="l" class="bet-type-btn"><span data-v-baf77bdf="">Odd</span><span data-v-baf77bdf="">1.98</span></div>
               <div data-v-baf77bdf="" data-join="active4" join="c" class="bet-type-btn"><span data-v-baf77bdf="">Even</span><span data-v-baf77bdf="">1.98</span></div>
            </div>
            <div data-v-baf77bdf="" class="FDB__C-Num 0-9 select-number-0-9">
               <div data-v-baf77bdf="" txt="0" class="bet-num-line">
                  <div data-v-baf77bdf="" class="bet-box-num round">0</div>
                  <div data-v-baf77bdf="" class="rate">9</div>
               </div>
               <div data-v-baf77bdf="" txt="1" class="bet-num-line">
                  <div data-v-baf77bdf="" class="bet-box-num round">1</div>
                  <div data-v-baf77bdf="" class="rate">9</div>
               </div>
               <div data-v-baf77bdf="" txt="2" class="bet-num-line">
                  <div data-v-baf77bdf="" class="bet-box-num round">2</div>
                  <div data-v-baf77bdf="" class="rate">9</div>
               </div>
               <div data-v-baf77bdf="" txt="3" class="bet-num-line">
                  <div data-v-baf77bdf="" class="bet-box-num round">3</div>
                  <div data-v-baf77bdf="" class="rate">9</div>
               </div>
               <div data-v-baf77bdf="" txt="4" class="bet-num-line">
                  <div data-v-baf77bdf="" class="bet-box-num round">4</div>
                  <div data-v-baf77bdf="" class="rate">9</div>
               </div>
               <div data-v-baf77bdf="" txt="5" class="bet-num-line">
                  <div data-v-baf77bdf="" class="bet-box-num round">5</div>
                  <div data-v-baf77bdf="" class="rate">9</div>
               </div>
               <div data-v-baf77bdf="" txt="6" class="bet-num-line">
                  <div data-v-baf77bdf="" class="bet-box-num round">6</div>
                  <div data-v-baf77bdf="" class="rate">9</div>
               </div>
               <div data-v-baf77bdf="" txt="7" class="bet-num-line">
                  <div data-v-baf77bdf="" class="bet-box-num round">7</div>
                  <div data-v-baf77bdf="" class="rate">9</div>
               </div>
               <div data-v-baf77bdf="" txt="8" class="bet-num-line">
                  <div data-v-baf77bdf="" class="bet-box-num round">8</div>
                  <div data-v-baf77bdf="" class="rate">9</div>
               </div>
               <div data-v-baf77bdf="" txt="9" class="bet-num-line">
                  <div data-v-baf77bdf="" class="bet-box-num round">9</div>
                  <div data-v-baf77bdf="" class="rate">9</div>
               </div>
            </div>
            <div data-v-7181abf7="" class="Betting__Popup-body-line">Balance <div data-v-7181abf7=""
                  class="Betting__Popup-body-line-list amount-box">
                  <div data-v-7181abf7="" value="1"  class="Betting__Popup-body-line-item action li">1</div>
                  <div data-v-7181abf7="" value="10" class="Betting__Popup-body-line-item li">10</div>
                  <div data-v-7181abf7=""  value="100" class="Betting__Popup-body-line-item li">100</div>
                  <div data-v-7181abf7=""  value="1000" class="Betting__Popup-body-line-item li">1000</div>
               </div>
            </div>
            <div data-v-7181abf7="" class="Betting__Popup-body-line">Quantity <div data-v-7181abf7=""
                  class="Betting__Popup-body-line-btnL" id="plus-minus">
                  <div data-v-7181abf7="" class="Betting__Popup-btn bgcolor li minus">-</div>
                  <div data-v-7181abf7="" class=" divan-cell van-field Betting__Popup-input">
                     <!----><!---->
                     <div class="van-cell__value van-field__value">
                        <div class="van-field__body"><input type="tel" inputmode="numeric"oninput="value=value.replace(/\D/g,'')" value="1"
                           class="van-field__control" id="value-join"><!----><!----><!----></div><!----><!---->
                     </div><!----><!---->
                  </div>
                  <div data-v-7181abf7="" class="Betting__Popup-btn bgcolor li plus">+</div>
               </div>
            </div>
            <div data-v-7181abf7="" class="Betting__Popup-body-line">
               <div data-v-7181abf7=""></div>
               <div data-v-7181abf7="" class="Betting__Popup-body-line-list multiple-box">
                  <div data-v-7181abf7="" amount="1" class="Betting__Popup-body-line-item setBorder li action"> X1</div>
                  <div data-v-7181abf7="" amount="5" class="Betting__Popup-body-line-item setBorder li "> X5</div>
                  <div data-v-7181abf7="" amount="10" class="Betting__Popup-body-line-item setBorder li "> X10</div>
                  <div data-v-7181abf7="" amount="20" class="Betting__Popup-body-line-item setBorder li "> X20</div>
                  <div data-v-7181abf7="" amount="50" class="Betting__Popup-body-line-item setBorder li "> X50</div>
                  <div data-v-7181abf7="" amount="100" class="Betting__Popup-body-line-item setBorder li "> X100</div>
               </div>
            </div>
            <div data-v-7181abf7="" class="Betting__Popup-body-line"><span data-v-7181abf7=""
                  class="Betting__Popup-agree active">I agree</span><span data-v-7181abf7=""
                  class="Betting__Popup-preSaleShow">《Pre-sale rules》</span></div>
         </div>
         <div data-v-42f27458="" class="foot c-row">
            <div data-v-42f27458="" class="left canned-alert">Cancel</div>
            <div data-v-42f27458="" class="right">
               <span id="result" list-join="" join="a" value="1"></span>
               <span data-v-42f27458="" class="p-r-5">Total Amount</span>
               <span data-v-42f27458="" id="total">1 TRX </span>
            </div>
         </div>
         <div data-v-7181abf7="" class="Betting__Popup-foot">
            <div data-v-7181abf7="" class="Betting__Popup-foot-c canned-alert">Cancel</div>
            <span id="result" list-join="" join="a" value="1"></span>
            <div data-v-7181abf7="" class="Betting__Popup-foot-s bgcolor">Total amount</div>
            <span data-v-42f27458="" id="total">1 TRX </span>
         </div>
        </div>
    </div>